:root {
    --header-color: #2196F3;
    --primary-title-color: #ffffff;
    --second-text-color: #757575;
    --headlines-text-color: #212121; 
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ----------------------header------------------ */


.web {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.93;
letter-spacing: 0.03em;
color:var(--header-color);
}

.header-logo {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.93;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
}

.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--headlines-text-color)
}


.menu-link:focus, .menu-link:hover {
    color: var(--header-color);
}

.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.header-tel:focus, .header-tel:hover {
    color: var(--header-color);
}

.header-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.header-mail:focus, .header-mail:hover {
    color: var(--header-color);
}


/* ----------------------hero----------------- */

.headlines { 
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--primary-title-color);
}

.headlines {
    background: #2F303A;
}

.button-service {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--primary-title-color);
}


.button-service {
font-family: inherit;
cursor: pointer;   
}


.button-service:hover, .button-service:focus {
    background-color: var(--header-color);
}

.hero-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        color: var(--headlines-text-color)
}

.hero-pages {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.activity-item {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
}

.headline-teams {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
}

.headline-team {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
}

.team-pages {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-text-color);
}


/* -------------footer----------------- */


.footer-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--footer-text-color);
}

.footer-item-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-title-color);
}

.footer-list {
    background-color: #2F303A;
    font-style: normal;
}


.footer-link:hover, .footer-link:focus {
    color: var(--primary-title-color);
}

/* porfolio main*/


.button-chapter {
cursor: pointer;
font-family: inherit;
}

.button-chapter {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
}


.button-chapter:focus, .button-chapter:hover {
color: var(--primary-title-color);

}


.photo-headline {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--headlines-text-color);
}

.photo-pages {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--second-text-color);
}